# EditorConfig is a file format and collection of text editor plugins for maintaining consistent coding styles between different editors and IDEs.
# Website: https://editorconfig.org
#
# NOTE: Remember to update .gitattributes for new changes.

root = true

[*]
charset = utf-8
# end_of_line = lf # text=auto in .gitattributes
indent_style = tab
insert_final_newline = true

[*.md]
end_of_line = lf

[*.{sh,bash}]
end_of_line = lf
